<body style="color: #eee;">
<div style="text-align: center;">

<h1 style="font-style: italic">contact/bug tracker</h1>
<span><%= image_tag("div1.png", :alt => "div1", :size => '50x50')%></span>

<h4>Synopsis:</h4>
<p style="text-size: large; padding-left: 30%; padding-right: 30%;">
This page is meant to serve as a way to contact me. Additionally, if you happen   
to try out any of my featured projects on GitHub and run into issues this page 
doubles as a portal to notify me of bugs that require fixing. These can be 
anything from spelling/grammatical errors to fundamental coding flaws that lower 
performance or hinder usability. All critiques are welcome! <%= link_to "🦆", pages_ducky_path %>
<br/>
<div>
    <%= render 'contact_form' %>
</div>
<br/>
</p>

</div>
</body>
