<body style="background-image: linear-gradient(#777, #444); color: #eee;">
<div style="text-align: center;">

<h1 style="font-style: italic">interests</h1>
<span><%= image_tag("div4.png", :alt => "div4", :size => '50x50')%></span>

<h4>Synopsis:</h4>
<p style="text-size: large; padding-left: 20%; padding-right: 20%;">
For a long time, whenever I experienced something interesting I would try recreate it in my own special ways. For example, my love of the ‘Garfield’ comic series saw me creating my own comics that I shared with my classmates (I even convinced my 5th grade teacher to allow me to read them aloud to the class during reading time). When my parents finally agreed to the idea of cable television, it was only a matter of time for me to start animating my comics using MS Paint and Windows Movie Maker after watching Cartoon Network. In middle school, I, like most boys of my age, loved video games, and in suit I taught myself how to make games, a hobby I still enjoy to this day. Similarly, my fascination in electronic and techno music, coupled with my musical background (mainly Clarinet, Viola, and some Guitar), led me to start producing my own beats. My desire to create has always been a beacon for me, and has helped molded me into who I am today, who I will be tomorrow, and beyond. Enjoy a few samples of what I’ve been producing!
<br/>
<br/>
These days my desire for creating tolerant dialogues and working towards a more socially just landscape has led me to make apparences at panels and presentations concerned about creating more ethical and equitable environments.
<br/>
<a href="https://www.youtube.com/watch?v=jxY3ISDaD7Y">Climate Strike (2019)</a> | <a href="https://github.com/toluooshy">Imagining Inclusive, Diverse, and Equitable Futures of Work (2020)</a>
<br/>
</p>

<h4>Beats:</h4>
<p><%= image_tag("gdrive.png", :alt => "google drive icon", :size => '24x24')%><a href="https://drive.google.com/file/d/1_RLSyU69EhQ9xfTfsI55AJfD65OQHKGx/view?usp=sharing"> Tempo</a></p>
<p><%= image_tag("gdrive.png", :alt => "google drive icon", :size => '24x24')%><a href="https://drive.google.com/file/d/1jxvIi6asilzAjfOQjJauxUZB2kPzqEU4/view?usp=sharing"> Voyager</a></p>
<p><%= image_tag("gdrive.png", :alt => "google drive icon", :size => '24x24')%><a href="https://drive.google.com/file/d/160BKagStTAYY1fKqJmBo6DRqS46ueNms/view?usp=sharing"> 23Y</a></p>
</div>
</body>
