<body style="background-image: linear-gradient(#777, #444); color: #eee;">
<div style="text-align: center;">

<h1 style="font-style: italic">projects</h1>
<span><%= image_tag("div2.png", :alt => "div2", :size => '50x50')%></span>
</br>
<h4>Current Projects:</h4>
</br>
<h5><mark><a href="http://www.fitpic.co/"> fitpic</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
This project was designed to be a "virtual closet" where the user can log any clothing attire they might have hat they would like to try something new with; all the while promoting sustainable/ethical clothing brands. Currently this project is under redesign to allow the user to log in (previousoly this was an offline webapp). 
<br/>
<%= image_tag("fitpicweb.png", :alt => "fitpic screenshot", :size => '683x384')%>
<br/>
This webapp was created with Python, Django, and SQLite/PostgreSQL; hosted on Heroku.
<br/>
</p>
</br>
</br>
<h5><mark><a href="http://thesbpro.org/"> The Storyboard Project</a></mark></h5>
<p style="text-size: large; padding-left: 15%; padding-right: 15%;">
This project was designed to be a "coming-of-age" platform fo young adults to semi-anonymously submit vignettes from their childhoods through adolescence. This was developed in hopes of spurring conversation around overlooked conversations that could be had, and can be used by parents to better understand what their children may be going through from the mouth of another youth. 
<br/>
<%= image_tag("storyboardweb.png", :alt => "the storyboard project screenshot", :size => '683x384')%>
<br/>
This webapp was created with NodeJS, Axios, and Firebase/Firestore; hosted on Firebase.
<br/>
</p>
</br>
</br>

<p><%= image_tag("github.png", :alt => "github icon", :size => '64x64')%><a href="https://github.com/toluooshy"> <h2><i>For more cool projects check out my GitHub profile!</i></h2></a></p>


</div>
</body>
